@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10rem;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 3.2rem;
    color: #fff;
    user-select: none;
    cursor: pointer;
}

.navigation a {
    /* Used so that we can position the pseudo-element */
    position: relative;
    /* ============================================== */
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
}

/* Creating a pseudo-element to the anchor links instead of text decoration underline property */
.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    width: 100%;
    height: 0.3rem ;
    background: #fff;
    border-radius: 0.5rem;
    /* Transform property hides the pseudo-element */
    transform: scaleX(0);
    /* =========================================== */
    transform-origin: right;
    transition: transform .5s;
}
/* Take note there should be no space between the :hover and ::after selectors, if there is a space, the hover effect wont work */
.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup {
    width: 13rem;
    height: 5rem;
    background: transparent;
    border: 0.2rem solid #fff;
    outline: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    margin-left: 4rem;
    transition: .59s ease-in-out;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.menu-icon ion-icon {
    color: #fff;
    font-size: 2.4rem;
    display: none;
}

/* ================================ */
/* Second Level Design */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    border: 2px solid rgba(255,255,255,0.5);
    position: relative;
    width: 40rem;
    height: 44rem;
    background: transparent;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon {
    font-size: 1.6rem;
}

.wrapper .form-box {
    /* border: 1px solid red; */
    width: 100%;
    padding: 4rem; 
}

.form-box h2 {
    font-size: 2.4rem;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 5rem;
    border-bottom: 0.2rem solid #162938;
    margin: 3rem 0 ;
}

.input-box label {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    pointer-events: none;
    /* Jumping of the label transitioning */
    transition: .5s;
}



.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: #162938;
    font-weight: 600;
    padding: 0 3.5rem 0 0.5rem;
}

.input-box .icon {
    /* border: 1px solid green; */
    position: absolute;
    right: 0.8rem;
    font-size: 1.2rem;
    color: #162938;
    line-height: 5.7rem;
}

/* ========= Make the label jump on click */

.input-box input:focus~label,
.input-box input:valid~label {
    top: -0.5rem;
}
/* ========= Make the label jump on click */

.remember-forgot {
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    margin: -0.15rem 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 0.3rem;
}

.remember-forgot label, .remember-forgot input, .remember-forgot a {
    font-size: 1.4rem;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 4.5rem;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.login-register {
    /* border: 1px solid red; */
    font-size: 1rem;
    color: #60707c;
    text-align: center;
    font-weight: 500;
    margin: 2.5rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.login-register p {
    font-size: 1.4rem;
    font-weight: 600
}

.login-link:hover, .register-link:hover {
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

/* Working on the close button icon */

.wrapper .icon-close {
    position:absolute;
    top:0;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
    background: #162938;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Used to give the close button the curved edge look */
    border-bottom-left-radius: 2rem;
    /* ================================================== */
    cursor: pointer;
    z-index: 1;
     
}

/* Used this to give the close button the curved edge look */
.wrapper {
    overflow: hidden;
}

.wrapper .icon-close ion-icon {
    font-size: 2.4rem;
}

/* End of the Login Side and Begining of the Registration Side */

/* When a tag has multiple classes attached, in order to specifically use those properties in CSS don't put a space in the multiple classes selectors i.e. .form-box .login won't work */
.wrapper .form-box.login {
    /* display: none; */
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(40rem);
}

/* Controling events on clicking the Register and Login tags with JavaScript */
.wrapper.active {
    height: 52rem;
}

.wrapper {
    transition: height .2s ease;
}
/* Grabbing hold of the wrapper once the active classList is added of the .form-box.login alone and not the .form-box.register(brilliant) */
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-40rem);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(40rem);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

/* Making the Login button in the NavLink popup the wrapper.Remember the wrapper has been set to  transform: scale(0)*/
.wrapper {
    /* This is done to remove the login panel so that we can use the login button in the navigation link for control via JavaScript */
    transform: scale(0);
    /* Make the transition smooth on clicking the NavLink Login button */
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

@media only screen and (max-width: 768px) {
    header {
        /* border: 1px solid red; */
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding: 0 1rem;
    }

    .logo-container {
        /* border: 1px solid yellow; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .menu-icon ion-icon {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        backdrop-filter: blur(3rem);
        width: 100%;
        justify-content: center;
        align-items: end;
        padding: 0.5rem;
        border: 0.2rem solid whitesmoke;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top: none;

    }

    .navigation .btnLogin-popup {
        width: 4.5rem;
        height: 3rem;
        background: transparent;
        border: none;
        outline: none;
        border-radius: none;
        cursor: pointer;
        font-size: 1.6rem;
        color: #fff;
        font-weight: 500;
        margin-left: 0.4rem;
        transition: .59s ease-in-out;
    }
    
    .navigation .btnLogin-popup:hover {
        background: #fff;
        color: #162938;
    }

    body {
        padding: 25rem 2rem 10rem 2rem;
        /* padding-right: 13rem; */
    }

    .showMenu {
        display: flex;
    }
}